body {
    background-color: cornflowerblue;
}

#hatter {
    height: 75%;
}

.keret {
    background-color: royalblue;
}

p {
    text-align: center;
}

.ajanlatok img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rolunk {
    padding: 150px;
}

#rolunk-kep {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bal {
    text-align: left;
}

.card {
    background-color: cornflowerblue;
    background-repeat: no-repeat;
}

.Monaco_img {
    margin-left: 50px;
}

.egerszalok_img {
    margin-right: 50px;
}

.ciprus_img {
    margin-left: 50px;
}