body {
    background-color: cornflowerblue;
}

#hatter {
    height: 75%;
}

.keret {
    background-color: royalblue;
}

.ajanlatok img {
    width: 200px;
}

.jobb {
    text-align: right;
}

p {
    text-align: center;
}

.rolunk {
    padding: 150px;
}

#rolunk-kep {
    margin-left: auto;
    margin-right: auto;
}