body {
    background-color: cornflowerblue;
}

img {
    height: 50%;
}

.keret {
    background-color: royalblue;
}

p {
    text-align: center;
}

.rolunk {
    padding: 150px;
}

#rolunk-kep {
    margin-left: auto;
    margin-right: auto;
}